<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bono agregado</title>
</head>
<body>
    <h1>EL bono fue creado y esta lleno de la siguiente forma </h1>
    <ul>
        <li> 
            id = <%= coupon.length %><br>
            name = <%= coupon[coupon.length].name %><br>
            description = <%= coupon[coupon.length].description %><br>
            product_id = <%= coupon[coupon.length].product_id %><br>
            validsince = <%= coupon[coupon.length].validsince %><br>
            validuntil = <%= coupon.validuntil %><br>
        </li>
    </ul>
</body>
</html>